
/*

 */


.tags {
    margin: auto;
}

.header h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.delete {
    cursor: pointer;
}

.delete:hover {
    color: darkred;
}
