@font-face {
  font-family: 'opensans-regular';
  src: url('../fonts/open-sans-webfont.eot');
  src: url('../fonts/open-sans-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open-sans-webfont.woff2') format('woff2'),
  url('../fonts/open-sans-webfont.woff') format('woff'),
  url('../fonts/open-sans-webfont.ttf') format('truetype'),
  url('../fonts/open-sans-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-semibold';
  src: url('../fonts/open-sans-semibold-webfont.eot');
  src: url('../fonts/open-sans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open-sans-semibold-webfont.woff2') format('woff2'),
  url('../fonts/open-sans-semibold-webfont.woff') format('woff'),
  url('../fonts/open-sans-semibold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-bold';
  src: url('../fonts/montserrat-bold-webfont.eot');
  src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-bold-webfont.woff') format('woff'),
  url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}



