//.footer {
//    position: absolute;
//    bottom: 0;
//}
.container-fluid {
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: #33bbd3;
    color: #323232;
    border-radius: 5px;

    .copyright {
        display: flex;
        justify-content: center;
        top: 15px;
    }
}
