/* Variables */

@font-face {
  font-family: "opensans-regular";
  src: url(/fonts/open-sans-webfont.eot?0fe7389edb01989abb0f19aa88ac872f);
  src: url(/fonts/open-sans-webfont.eot?0fe7389edb01989abb0f19aa88ac872f) format("embedded-opentype"), url(/fonts/open-sans-webfont.woff2?a26b5f0dde601a60369281135ac83175) format("woff2"), url(/fonts/open-sans-webfont.woff?82271ae252831234f8b2dff0db80f5ae) format("woff"), url(/fonts/open-sans-webfont.ttf?ec3ceaaa326cf112fe72db3c669eceb9) format("truetype"), url(/fonts/open-sans-webfont.svg?71d7596e2df8e987e35a34e7bce129d2) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans-semibold";
  src: url(/fonts/open-sans-semibold-webfont.eot?53a75cfb8beeab20d27a9d88a57fd860);
  src: url(/fonts/open-sans-semibold-webfont.eot?53a75cfb8beeab20d27a9d88a57fd860) format("embedded-opentype"), url(/fonts/open-sans-semibold-webfont.woff2?055d4bd442cb72a7f92f2826de4daf10) format("woff2"), url(/fonts/open-sans-semibold-webfont.woff?6d40da30e851a8275d3c59780a7a7fa8) format("woff"), url(/fonts/open-sans-semibold-webfont.svg?70d006d7463a3789d452f173420745df) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-bold";
  src: url(/fonts/montserrat-bold-webfont.eot?0889d3bc114c18a79e5c1dc8d7fd0674);
  src: url(/fonts/montserrat-bold-webfont.eot?0889d3bc114c18a79e5c1dc8d7fd0674) format("embedded-opentype"), url(/fonts/montserrat-bold-webfont.woff2?fc8fe9f00c2a5de36eee11c135207e7c) format("woff2"), url(/fonts/montserrat-bold-webfont.woff?578dc0158be53f908033cea3be8963ad) format("woff"), url(/fonts/montserrat-bold-webfont.ttf?ea41ef7cfc914d18916b20d8504f2e09) format("truetype"), url(/fonts/montserrat-bold-webfont.svg?84fcc48d3d63faed4a06e8f34932cb2f) format("svg");
  font-weight: normal;
  font-style: normal;
}

/*

 */

.tags {
  margin: auto;
}

.header h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.delete {
  cursor: pointer;
}

.delete:hover {
  color: darkred;
}

.container-fluid {
  padding: 0;
  margin: 0;
  height: 50px;
  background-color: #33bbd3;
  color: #323232;
  border-radius: 5px;
}

.container-fluid .copyright {
  display: flex;
  justify-content: center;
  top: 15px;
}


